body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h3 {
  height: 25px;
  font-size: 16px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .comic-card, .favorite-comic-card {
    width: 100%;
  }

  .comic-detail {
    padding: 15px;
  }
}
